---

    - name: Add  {{  ceph_host_to_add }} node  to Ceph cluster if not already added
      ansible.builtin.shell: >
        ceph orch host add {{ ceph_host_to_add }} {{ hostvars[ceph_host_to_add]['ansible_host'] }}
      register: add_host_result
      changed_when: "'already exists' not in add_host_result.stdout"
      ignore_errors: no

    - name: Add label {{ ceph_label }}  to {{  ceph_host_to_add }} node  if missing
      ansible.builtin.shell: >
        ceph orch host label add {{ ceph_host_to_add }} {{ ceph_label }}
      register: add_label_result
      changed_when: "'already has label' not in add_label_result.stdout"
      ignore_errors: no
