---

- name: Load group_vars
  include_vars: "{{ playbook_dir }}/../group_vars/all.yml"

- name: Create EC profile
  shell: >
    cephadm shell -- ceph osd erasure-code-profile set {{ ec_profile_name }}
    k={{ ec_k }}
    m={{ ec_m }}
    crush-failure-domain={{ ec_failure_domain }}
    plugin={{ ec_plugin }}
    technique={{ ec_technique }}
  run_once: true
  ignore_errors: no

- name: Create EC crush rule
  shell: >
    cephadm shell -- ceph osd crush rule create-erasure
    {{ ec_crush_rule }} {{ ec_profile_name }}
  run_once: true
  ignore_errors: yes

- name: Create RBD EC data pool
  shell: >
    cephadm shell -- ceph osd pool create
    {{ rbd_ec_pool }} {{ rbd_ec_pg }} {{ rbd_ec_pg }}
    erasure {{ ec_profile_name }}
  run_once: true
  when: rbd_ec_pool is defined
  ignore_errors: no

- name: Allow EC overwrites (RBD)
  shell: cephadm shell -- ceph osd pool set {{ rbd_ec_pool }} allow_ec_overwrites true
  run_once: true
  when: rbd_ec_pool is defined

- name: Enable RBD application
  shell: cephadm shell -- ceph osd pool application enable {{ rbd_ec_pool }} rbd
  run_once: true
  when: rbd_ec_pool is defined

- name: Set default RBD EC data pool
  shell: cephadm shell -- ceph config set client rbd_default_data_pool {{ rbd_ec_pool }}
  run_once: true
  when: enable_rbd_ec_default | bool

- name: Create RGW EC data pool
  shell: >
    cephadm shell -- ceph osd pool create
    {{ rgw_ec_pool }} {{ rgw_ec_pg }} {{ rgw_ec_pg }}
    erasure {{ ec_profile_name }}
  run_once: true
  when: rgw_ec_pool is defined
  ignore_errors: no

- name: Enable RGW application
  shell: cephadm shell -- ceph osd pool application enable {{ rgw_ec_pool }} rgw
  run_once: true
  when: rgw_ec_pool is defined
  ignore_errors: no
